<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['animales']">Zoologico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="!usarioService.getToken">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">Iniciar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['register']">Registro</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="usarioService.getToken">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">Perfil</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="logout()">Desconectarse</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>