<section>

  <div class="d-flex justify-content-between">
    <h4>Lista de animales</h4>
    <a routerLink="/animales/create" class="btn btn-success">Crear nuevo animal</a>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let animal of animales">
      <a [routerLink]="['/animales/', 'show', animal.id  ]" style="text-decoration: none; color: black;">
        <img [src]="'http://127.0.0.1:8000/assets/imagenes/'+ animal.imagen" fallimg class="fluid img-thumbnail rounded"
          style="height:200px" />
        <div style="position: rigth">
          <h4>{{ animal.especie }}</h4>
          <ul>
            <li>Peso: {{ animal.peso }}</li>
            <li>Altura: {{ animal.altura }}</li>
            <li>Edad: {{ animal.fechaNacimiento }}</li>
            <li>Alimentacion: {{ animal.alimentacion }}</li>
            <!--<li>Revisiones: {{ count(animal.revisiones) }}</li>-->
          </ul>
        </div>
      </a>

      <!--
        @if (count(animal.cuidadores) > 0)
            <h4>Cuidadores</h4>
            @foreach (animal.cuidadores as $cuidador)
                <ul>
                    <a href="{{ route('cuidadores.show', $cuidador) }}">
                        <li>{{ $cuidador.nombre }}</li>
                    </a>
                </ul>
            @endforeach
        @endif-->
    </div>
  </div>
</section>