
<section>

    <div class="d-flex justify-content-between">
      <h4>Lista de animales</h4>
      <a routerLink="/animal/create" class="btn btn-success">Crear nuevo animal</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Especie</th>
        <th>Alimentación</th>
        <th>Descripción</th>
        <th width="220px">Acción</th>
      </tr>
      <tr *ngFor="let animal of animales">
        <td>{{ animal.id }}</td>
        <td>{{ animal.especie }}</td>
        <td>{{ animal.alimentacion }}</td>
        <td>{{ animal.descripcion }}</td>
        <td>
          <a  [routerLink]="['/animal/', 'edit', animal.id  ]" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deleteAnimal(animal.id)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </table>
 </section>
