<section>

  <div class="d-flex justify-content-between">
    <h4>Lista de animales</h4>
    <a routerLink="/animales/crear" class="btn btn-success">Crear nuevo animal</a>
  </div>

  <br>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4  animal" *ngFor="let animal of animales">
        <a [routerLink]="['/animales/', animal.slug  ]">
          <img [src]="animalImg + animal.imagen" fallimg class="img-flex img-thumbnail" />
          <h4>{{ animal.especie }}</h4>
          <!--<ul>
            <li>Peso: {{ animal.peso }}</li>
            <li>Altura: {{ animal.altura }}</li>
            <li>Edad: {{ animal.fechaNacimiento }}</li>
            <li>Alimentacion: {{ animal.alimentacion }}</li>
            <li>Revisiones: {{ count(animal.revisiones) }}</li>
          </ul>-->
        </a>
        <!--
        @if (count(animal.cuidadores) > 0)
            <h4>Cuidadores</h4>
            @foreach (animal.cuidadores as $cuidador)
                <ul>
                    <a href="{{ route('cuidadores.show', $cuidador) }}">
                        <li>{{ $cuidador.nombre }}</li>
                    </a>
                </ul>
            @endforeach
        @endif-->
      </div>
    </div>
  </div>
</section>