
<div>

    <div class="d-flex justify-content-between">
      <h4>Form customer</h4>
      <a href="#" routerLink="/animal/index" class="btn btn-primaryt">Back</a>
    </div>
  
    <hr/>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="title">Especie:</label>
                <input
                  formControlName="especie"
                  id="especie"
                  type="text"
                  class="form-control">
                <div *ngIf="f.especie.touched && f.especie.invalid" class="alert alert-danger">
                    <div *ngIf="f.especie.errors.required">*La especie es obligatoria.</div>
                    <div *ngIf="f.especie.errors.pattern">*Solo debe contener letras.</div>
                </div>
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="alimentacion">Alimentacion:</label>
                <input
                  formControlName="alimentacion"
                  id="alimentacion"
                  type="text"
                  class="form-control">
                <div *ngIf="f.alimentacion.touched && f.alimentacion.invalid" class="alert alert-danger">
                    <div *ngIf="f.alimentacion.errors.required">*Debes incluir una alimentacion.</div>
                </div>
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="descripcion">Descripcion:</label>
                <input
                  formControlName="descripcion"
                  id="descripcion"
                  type="text"
                  class="form-control">
              </div>
          </div>
  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
  </div>