<div class="register">
    <form [formGroup]="form" (ngSubmit)="register()" class="custom-form" method="post">
      <h1>Registro</h1>
      <input
        type="email"
        formControlName="email"
        [(ngModel)]="email"
        id="email"
        placeholder="Email"/>
      <input
        type="password"
        formControlName="password"
        [(ngModel)]="password"
        id="password"
        placeholder="Password"/>
      <input
        type="password"
        formControlName="confirmPassword"
        [(ngModel)]="confirmPassword"
        id="confirmPassword"
        placeholder="Repeat the password"/>
      <button type="submit">Register</button>
    </form>
  </div>
